* {
  font-family: GeistMono Nerd Font;
  border-radius: 6px;

  font-size: 14px;
  padding: 0px;
  background: transparent;
}

window#waybar {

  background-color: #161617;
  border-radius: 0px;

  padding: 0px;
  border-bottom: 1px solid #27272A;

}

#battery,
#network,
#clock,
#custom-applauncher,
#tray,
#workspaces,
#pulseaudio {

  background-color: #27272A;
  margin: 5px 3px;
  padding: 2px 12px;
  border-radius: 6px;


  color: #C9C7CD;

  transition: all 0.2s ease-out;
}

#clock {
  margin-right: 8px;
  font-weight: bold;
}



#pulseaudio:hover,
#custom-applauncher:hover,
#battery:hover,
#network:hover,
#clock:hover {
  background-color: #E6B99D;
  color: #161617;

}

#custom-applauncher {
  color: #E6B99D;
  font-weight: bold;
  padding-left: 14px;
  padding-right: 14px;
}


#tray menu {
  background-color: #161617;
  color: #C9C7CD;
  padding: 6px;
  border: 1px solid #27272A;
}

#tray menu menuitem {
  background-color: transparent;
  margin: 2px;
  color: #C9C7CD;
  border-radius: 4px;
}

#tray menu menuitem:hover {
  background-color: #E6B99D;
  color: #161617;
}


#workspaces {
  background-color: #161617;

  margin: 5px 4px;
}

#workspaces button {
  transition: all 0.2s;
  all: initial;
  min-width: 0;
  font-family: GeistMono Nerd Font;

  color: #57575F;
  padding: 0 8px;
  margin: 0px 2px;
  border-radius: 4px;
}

#workspaces button:hover {
  color: #C9C7CD;
  background-color: #27272A;
}

#workspaces button.focused,
#workspaces button.active {
  color: #E6B99D;

  background-color: #27272A;
  font-weight: bold;
}

#workspaces button.urgent {
  color: #F5A191;

}


#battery {
  background-color: #27272A;
  color: #C9C7CD;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #F5A191;

  color: #161617;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
