* {
  font-family: GeistMono Nerd Font;
  border-radius: 8px;
  font-size: 14px;
  padding: 0px;
  background: transparent;
}

window#waybar {
  background-color: #16161d;
  border-radius: 14px;
  padding: 0px;
  border: none;
}

#battery,
#network,
#clock,
#custom-applauncher,
#tray,
#workspaces,
#pulseaudio {
  background-color: #1f1f28;
  margin: 6px 3px;
  padding: 4px 12px;
  border-radius: 8px;
  color: #e6e6e8;
  border: none;
  transition: all 0.2s ease-in-out;
}

#clock {
  margin-right: 6px;
}

#pulseaudio:hover,
#custom-applauncher:hover,
#battery:hover,
#network:hover,
#clock:hover {
  background-color: #c6a0f6;
  color: #16161d;
}

#custom-applauncher {
  font-weight: bold;
  color: #c6a0f6;
}

/* Tray */
#tray menu {
  background-color: #16161d;
  color: #e6e6e8;
  padding: 4px;
  border-radius: 8px;
}

#tray menu menuitem {
  background-color: #1f1f28;
  margin: 3px;
  padding: 4px;
  color: #e6e6e8;
  border-radius: 4px;
  border: none;
}

#tray menu menuitem:hover {
  background-color: #c6a0f6;
  color: #16161d;
}

/* Workspaces */
#workspaces {
  padding: 0px;
}

#workspaces button {
  transition: all 0.2s;
  all: initial;
  min-width: 0;
  font-family: GeistMono Nerd Font;
  font-weight: normal;
  color: #585865;
  padding: 0 10px;
  margin: 4px 2px;
}

#workspaces button:hover {
  color: #c6a0f6;
}

#workspaces button.focused,
#workspaces button.active {
  color: #c6a0f6;
  font-weight: bold;
}

#workspaces button.urgent {
  color: #e46876;
}

/* Battery States */
#battery {
  background-color: #1f1f28;
  color: #e6e6e8;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #e46876;
  color: #16161d;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
