* {
  font-family: "GeistMono Nerd Font";
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  padding: 0px;
  background: transparent;
}

window#waybar {
  background-color: #fffbef;
  border-radius: 14px;
  padding: 0px;
  border: 2px solid #edebd2;
  color: #5c6a72;
}

#battery,
#network,
#clock,
#custom-applauncher,
#tray,
#workspaces,
#pulseaudio {
  background-color: #edebd2;
  margin: 6px 3px;
  padding: 4px 12px;
  border-radius: 8px;
  color: #5c6a72;
  border: none;
  transition: all 0.2s ease-in-out;
}

#clock {
  margin-right: 6px;
  font-weight: bold;
}


#pulseaudio:hover,
#custom-applauncher:hover,
#battery:hover,
#network:hover,
#clock:hover {
  background-color: #8da101;
  color: #fffbef;
}

#custom-applauncher {
  font-weight: bold;
  color: #8da101;
  background-color: #edebd2;
}

#custom-applauncher:hover {
  color: #fffbef;
}

#tray menu {
  background-color: #fffbef;
  color: #5c6a72;
  padding: 4px;
  border-radius: 8px;
  border: 1px solid #edebd2;
}

#tray menu menuitem {
  background-color: #edebd2;
  margin: 3px;
  padding: 4px;
  color: #5c6a72;
  border-radius: 4px;
  border: none;
}

#tray menu menuitem:hover {
  background-color: #8da101;
  color: #fffbef;
}

#workspaces {
  padding: 0px;
  background-color: #edebd2;
}

#workspaces button {
  transition: all 0.2s;
  all: initial;
  min-width: 0;
  font-family: "GeistMono Nerd Font";
  font-weight: 500;
  color: #939f91;
  padding: 0 10px;
  margin: 4px 2px;
}

#workspaces button:hover {
  color: #8da101;
  background-color: rgba(141, 161, 1, 0.2);
  border-radius: 6px;
}

#workspaces button.focused,
#workspaces button.active {
  color: #8da101;
  font-weight: bold;
  background-color: #fffbef;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

#workspaces button.urgent {
  color: #f85552;
  background-color: #fffbef;
}

#battery {
  background-color: #edebd2;
  color: #5c6a72;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #f85552;
  color: #fffbef;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
