* {
  font-family: GeistMono Nerd Font;
  border-radius: 8px;
  font-size: 14px;
  padding: 0px;
  background: transparent;
}

window#waybar {
  background-color: #161617;
  border-radius: 14px;
  padding: 0px;
  border: none;
}

#battery,
#network,
#clock,
#custom-applauncher,
#tray,
#workspaces,
#pulseaudio {
  background-color: #27272A;
  margin: 6px 3px;
  padding: 4px 12px;
  border-radius: 8px;
  color: #C9C7CD;
  border: none;
  transition: all 0.2s ease-in-out;
}

#clock {
  margin-right: 6px;
}

#pulseaudio:hover,
#custom-applauncher:hover,
#battery:hover,
#network:hover,
#clock:hover {
  background-color: #90B99F;
  color: #161617;
}

#custom-applauncher {
  font-weight: bold;
  color: #90B99F;
}

#tray menu {
  background-color: #161617;
  color: #C9C7CD;
  padding: 4px;
  border-radius: 8px;
}

#tray menu menuitem {
  background-color: #27272A;
  margin: 3px;
  padding: 4px;
  color: #C9C7CD;
  border-radius: 4px;
  border: none;
}

#tray menu menuitem:hover {
  background-color: #90B99F;
  color: #161617;
}

#workspaces {
  padding: 0px;
}

#workspaces button {
  transition: all 0.2s;
  all: initial;
  min-width: 0;
  font-family: GeistMono Nerd Font;
  font-weight: normal;
  color: #57575F;
  padding: 0 10px;
  margin: 4px 2px;
}

#workspaces button:hover {
  color: #90B99F;
}

#workspaces button.focused,
#workspaces button.active {
  color: #90B99F;
  font-weight: bold;
}

#workspaces button.urgent {
  color: #F5A191;
}

#battery {
  background-color: #27272A;
  color: #C9C7CD;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #F5A191;
  color: #161617;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
