* {
  font-family: GeistMono Nerd Font;
  font-size: 14px;
  border-radius: 4px;
  padding: 0px;
  background: transparent;
}

window#waybar {

  background-color: #161617;
  border-bottom: 4px solid #27272A;

}

#battery,
#network,
#clock,
#custom-applauncher,
#tray,
#workspaces,
#pulseaudio {
  background-color: #27272A;
  color: #C9C7CD;
  margin: 5px 3px;
  padding: 2px 12px;
  border-radius: 6px;
  transition: all 0.2s ease-out;
}

#clock {
  font-weight: bold;
  margin-right: 8px;
}

#pulseaudio:hover,
#custom-applauncher:hover,
#battery:hover,
#network:hover,
#clock:hover {
  background-color: #90B99F;
  color: #161617;

}

#custom-applauncher {
  color: #90B99F;
  font-weight: bold;
  padding-left: 14px;
  padding-right: 14px;
}

#workspaces {
  background-color: #161617;
  margin: 5px 4px;
}

#workspaces button {
  transition: color 0.2s;
  all: initial;
  font-family: GeistMono Nerd Font;
  color: #57575F;
  padding: 0 8px;
  margin: 0px 2px;
}

#workspaces button:hover {
  color: #C9C7CD;
  background-color: #27272A;
  border-radius: 4px;
}

#workspaces button.focused,
#workspaces button.active {
  color: #90B99F;
  font-weight: bold;
}

#workspaces button.urgent {
  color: #F5A191;

}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #F5A191;
  color: #161617;
  animation: blink 1s infinite alternate;
}
